ml-collections==0.1.0
tensorflow-gan==2.1.0
tensorflow_io
tensorflow_datasets==4.8.0
tensorflow==2.10.0
tensorflow-addons==0.18.0
tensorflow-probability==0.18.0
tensorboard==2.10.1
absl-py==1.4.0
torch==2.1.0
torchvision==0.16.0
typing-extensions==4.5.0
ninja==1.11.1.1
protobuf==3.19.0